body{
	/*margin: 0 30px;*/
	padding:0px;
	font-size: 16px;
	word-spacing: 2px;
	font-family: 'Rokkitt',Georgia,serif;
}
.top-banner{
margin-top:20px;

}
.logo{
	padding-left: 10%;

}
a{
	text-decoration: none;
	color:black;
	font-size: 16px;
	padding:0;
}
.nav-bar{
	background: none repeat scroll 0 0 rgba(80, 79, 97, 0.75);
	/*background: none repeat scroll 0 0 rgba(44, 49, 50, 0.75);*/
	/*background-color: rgba(140,30,0,0.7);*/
}
/*.page-content{
	background: url(images/back.png);
	background-repeat: repeat;

}*/

.headline,h1,h2{
	display: block;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
}
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;

}
button{
	display: block;
	position:static;
	padding: 20px;	
	background-color: #EE4444;
	margin-right: auto;   /*Centering the images*/
	margin-left: auto;
	color:white;
	font-weight: bold;
	
}
.center-donate{
	/*min-height: 300px;*/
	margin: 4%;
	background: none repeat scroll 0 0 #fff;
	border: 2px dotted #000;

} 
	
}
.bg-pic{
	display: block;
	margin-left: 30%;
	margin:0 auto;
}

.link-style{

	padding:2% 0 0 0;
	/*float: right; change 4.03*/
	list-style: none;
	/*background-color: #1585FF;*/
	font-weight: bolder;
	font-color: black;
	/*margin-right: 2px;
*/	min-height: 60px;
	text-align: center;
	/*padding:20px 0px;*/
	text-transform: uppercase;
}

.ab{
	/*box-shadow: 3px 0px 0px 0px #ccc;*/
	/*background-color: rgba(243,238,230,0.3);
*/	/*background-color: #E4EBF5/*#f2ae33*/;*/
	padding: 0 20px;
	/*margin-left:3px;*/

	
}
li{
	list-style: none;
	padding:0;
}
#about-us{
	margin: 0 3%;
}
/*--------------SVG Styling-------------*/
a:hover{
	text-decoration: none !important;
}
	#professional, #literacy	{fill: #32B196;}
	#school_1_,#women	{fill:#ED7774;} 		
	#school,#special{ fill: #4cbbfa;}
	#vocational,#higher{fill: #504F61;}



	#professional:hover, #literacy:hover { cursor:pointer; fill: #336666;}
	#school_1_:hover, #women:hover{cursor:pointer; fill: #ff6666;} 
	#vocational:hover,#higher:hover{cursor:pointer; fill: #666666;}
	#school:hover, #special:hover{cursor: pointer;fill: #33ccff;}
/*--------------SVG Styling-------------*/














.footer {
	clear: both;
	margin-top: 2%;
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 20px #000;
    color: #222;
    font-family: 'Rokkitt',Georgia,serif;
    font-size: 1em;
    font-weight: 100%;
    line-height: 1.3;
    padding: 80px 50px;
   
    /*text-align: center;*/
   
}

/*----------------------Contact Form Styling----------------------*/
.back-pic{
	height: 700px;
	background-image: url(/Users/ubaid.zahidani/Desktop/26:03:15/contact-form/autumn.jpg);
}
.top-pad{
	margin-top: 15.5%;
}
#contact-form h1{
	text-align: center;
    height: 50px;
    color: white;
}

.text12, .email12, .msg12{
	margin-top: 0;
	background-color: rgba(240,50,21,.75);
}
.btn12{

	margin-top: 4%;
}
.contact-text{
	list-style: none;
	padding:0;
	color: white;
	font-weight: 100%;
}
.contact-text a, .social-channels{
	color: white;
}
/*----------------------Contact Form Styling Finishes----------------------*/
/*----------------------Sprite Styling-------------------------------------*/
.social-channels{
	padding-top: 0px;
	padding-left: 0px;

}
.social-channels li {
	list-style: none;
	margin-top: 5em;
	padding:0px;

}
.facebook {
	width:33px;
	height:33px;
	background: url(images/sprite1.png);
	background-position:0 66px;
}
.facebook:hover {
	background-position:0 33px;
}

.github {
	width:33px;
	height:33px;
	background: url(images/sprite1.png);
	background-position:66px 66px;
}

.github:hover {
	background-position:66px 33px;
}

.flickr {
	height: 420px;
    margin: -125px auto 10px;
    position: relative;
    width: 420px;
	background: url(images/sprite1.png);
	background-position:33px 66px;
}

.flickr:hover {
	background-position:33px 33px;
}

.googleplus {
	width:33px;
	height:33px;
	background: url(images/sprite1.png);
	background-position:99px 66px;
}

.googleplus:hover {
	background-position:99px 33px;
}

.linkedin {
	width:33px;
	height:33px;
	background: url(images/sprite1.png);
	background-position:132px 66px;
}

.linkedin:hover {
	background-position:132px 33px;
}

.pinterest {
	width:33px;
	height:33px;
	background: url(images/sprite1.png);
	background-position:165px 66px;
}

.pinterest:hover {
	background-position:165px 33px;
}

.twitter {
	width:33px;
	height:33px;
	background: url(images/sprite1.png);
	background-position:198px 66px;
}

.twitter:hover {
	background-position:198px 33px;
}

.youtube {
	width:33px;
	height:33px;
	background: url(images/sprite1.png);
	background-position:231px 66px;
}

.youtube:hover {
	background-position:231px 33px;
}
